:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.form {
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
    grid-auto-rows: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.form input, .form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.form button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #11b7ab;
}

.form button:hover {
    background-color: #0d9c8f;
}

.cards_wrapper {
    
}

.card {

}

.card:hover {
    background-color: rgb(70, 72, 78);
}

.card:hover .delete_button {
    
}

.delete_button {
    right: -55px;
    width: 55px;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 59, 48);
    border: none;
    cursor: pointer;
    right: 0;
}


.card figure {

}

.card figure img {

}

.description {

}

.description h2 {

}

.description p {

}

.description p div {

}
